---
layout: default
---

<div class="home">

    <h1>{{ site.course_name }} <br /> <span style="font-size: 20px;color: #0006;"> {{ site.course_semester }} </span>
    </h1>
    {% include announcements.html %}
    <br />

    <h2>Course Description</h2>
    <p>{{ site.course_description }}</p>

    {{ content }}


    <br>
    <h2>TA Availability</h2>
    <table>
        <tr>
            <td><b>Name</b></td>
            <td><b>Projects</b></td>
            <td><b>Time</b></td>
            <td><b>Contact</b></td>
        </tr>
        <tr>
            <td>Sahil&nbsp;&nbsp;</td>
            <td>Project 7&nbsp;&nbsp;</td>
            <td>Mon@4-5&nbsp;&nbsp;</td>
            <td><a href="sahil.mishra@ee.iitd.ac.in">sahil.mishra@ee.iitd.ac.in</a></td>
        </tr>
        <tr>
            <td>Vaibhav&nbsp;&nbsp;</td>
            <td>Projects 5 and 6&nbsp;&nbsp;</td>
            <td>Mon@4-5&nbsp;&nbsp;</td>
            <td><a href="mailto:mt1210236@maths.iitd.ac.in">mt1210236@maths.iitd.ac.in</a></td>
        </tr>
        <tr>
            <td>Aswini&nbsp;&nbsp;</td>
            <td>Projects 3 and 4&nbsp;&nbsp;</td>
            <td>Wed@3-4&nbsp;&nbsp;</td>
            <td><a href="mailto:eez238359@ee.iitd.ac.in">eez238359@ee.iitd.ac.in</a></td>
        </tr>
        <tr>
            <td>Anwoy&nbsp;&nbsp;</td>
            <td>Projects 1 and 2&nbsp;&nbsp;</td>
            <td>Thu@4-5&nbsp;&nbsp;</td>
            <td><a href="mailto:eez238463@ee.iitd.ac.in">eez238463@ee.iitd.ac.in</a></td>
        </tr>
    </table>
    <br>
    <br>
    <h2>Assessment Plan (Tentative)</h2>
    <ul>
        <li>MidTerm: 20%</li>
        <li>Major: 30%</li>
        <li>3x Quizzes: 15%</li>
        <li>2x Assignment (to be done individually): 15%</li>
        <li>Project (group-wise): 18%</li>
        <li>Paper Reading (group-wise): 2%</li>
    </ul>

    <h2>Plagiarism Policy</h2>
    <ul>
        <li>The assignments are supposed to be done individually. You should carry out all the implementation by yourself.</li>
        <li>The project is supposed to be done by memebers of a group only. Collaboration between groups is not allowed</li>
        <li>Any cheating will result in a zero on the assignment/project, an addtional penalty of the negative of the total weightage of the assignment/project and possibly much stricter penalties (including a fail grade and/or referring to a DisCo). Please
note that using any AI tools is not allowed. If the software detects any plagiarism due to it,
this will be penalised equivalently.</li>
    </ul>


    <div>
        <div style="width:40%; float: left">
            <!-- <h2>Instructors</h2> -->
            <!-- <div class="image--cover-container">
                <img src="{{site.data.people.instructor.profile_pic | prepend: site.baseurl }}" class="image--cover">
                <p>{{site.data.people.instructor.name}}</p>
            </div> -->

            <div class="profile-pic-gallary ">
                <h2>Instructor</h2>
                {% for ins in site.data.people.instructors %}
                <div class="image--cover-container">
                    <img src="{{ins.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% if ins.webpage %}
                    <p><a href="{{ ins.webpage }}">{{ins.name}}</a></p>
                    {% else %}
                    <p>{{ins.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        <div style="width:60%; float: right">
            <div class="profile-pic-gallary ">
                <h2>Teaching Assistants</h2>
                {% for ta in site.data.people.teaching_assistants %}
                <div class="image--cover-container">
                    <img src="{{ta.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% if ta.webpage %}
                    <p><a href="{{ ta.webpage }}">{{ta.name}}</a></p>
                    {% else %}
                    <p>{{ta.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
