---
layout: page
---

{{ content }}

<ul id="archive">
{% for quiz in site.quizs %}
<li class="archiveposturl" style="background: transparent">
<div class="quiz-container">
    {% if quiz.thumbnail %}
    <div class="thumbnail">
      <div class="center-cropped" style="margin-top:5px;margin-bottom:5px;background-image: url('{{ quiz.thumbnail | prepend: site.baseurl }}');">
        <img src="{{ quiz.thumbnail | prepend: site.baseurl }}"/>
      </div>
    </div>
    {% endif %}
    <div class="content">
        <span style="font-weight: bold;">{{ quiz.title }}</span><br>

        <strong>tl;dr:</strong> {{ quiz.tldr }}
        <br/>
        <strong>
        {% include quiz_links.html quiz=quiz %}
        </strong>

        {% if quiz.content != '' %}
        <br/>
        <div class="markdown-content" style="margin-top: 3px;">
        {{ quiz.content }}
        </div>
        {% endif %}
    </div>
</div>
</li>
{% endfor %}
</ul>
