---
layout: default
---

<header class="post-header">
    <h1 class="post-title">Schedule</h1>
</header>

{{ content }}

<div class="home" style="font-size: 0.8em;">
    <i>Note: To make a copy in your personal calender, please click on the bottom-right</i> <b>+Google Calender</b> <i>icon</i>.
        <iframe
            src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Asia%2FKolkata&bgcolor=%23EF6C00&showPrint=0&showTz=0&mode=AGENDA&showTitle=0&src=ZTk1ZDk0ZmMwZjNmNTZlYjIzNzczZjBkODE2MWZiMGViYzMxZDJmZjUyNTcwYjU5MTBlMWQ5MDVlN2E1ODdkN0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23E4C441"
            style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
