---
layout: default
---

<header class="post-header">
    <h1 class="post-title">Schedule</h1>
</header>

{{ content }}

<div class="home" style="font-size: 0.8em;">
    <i>Note: To make a copy in your personal calender, please click on the bottom-right</i> <b>+Google Calender</b> <i>icon</i>.
        <iframe
            src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Asia%2FKolkata&showPrint=0&title=NLP&showNav=0&mode=AGENDA&src=MDk1ZGIyZjAwZTI4YTg0MTcyYjM5ZmUyMWY2NWIzNTk4OWMzODY4Zjg3N2ZmMGQ5NWM3YTA4YTIxMDM4ZGU3OEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%238E24AA&color=%2333B679"
            style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
